.App{
  background: linear-gradient(rgb(39,39,39), rgb(0,0,0));
  color: whitesmoke;
  padding-bottom: 500px;
}

/* home page */

.hero{
  background-image: url("./components/pictures/crowd.jpeg");
  background-color: rgb(39,39,39);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
  /* min-height: 600px; */
  /* box-shadow: 00px 0px 90px 30px rgba(30,30,30, 1.0) inset; */
  /* background-blend-mode: color-dodge; */
}

@media (min-width: 1000px){
  .hero{
    background-image: url("./components/pictures/crowd2.jpeg")
  }
}

.homeArrow{
  text-align: center;
  
}
.substanceTitle{
  text-align: center;
  padding-bottom: 80px;
  color: rgb(105, 105, 253);
  font-weight: 400;
  font-style: oblique;
  font-size: 1.5rem;
}
.homeSubstance{
  padding-top: -100px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
  font-size: 1.0rem;
} 
