.App{
  background: linear-gradient(rgb(38,38,38), rgb(0,0,0));
  color: whitesmoke;
  padding-bottom: 500px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* home page */

.hero{
  background-image: url("./components/pictures/crowd.jpeg");
  background-color: rgb(39,39,39);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
   -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,0)), to(rgba(0,0,0,0.9)), to(rgba(0,0,0,0)));
  /* min-height: 600px; */
  /* box-shadow: 00px 0px 90px 30px rgba(30,30,30, 1.0) inset; */
  /* background-blend-mode: color-dodge; */
}

.homeArrow{
  text-align: center;
  
}
.substanceTitle{
  text-align: center;
  padding-bottom: 80px;
  color: rgb(105, 105, 253);
  font-weight: 400;
  font-style: oblique;
  font-size: 1.5rem;
}
.homeSubstance{
  padding-top: -100px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
  font-size: 22px;
}

.homeSubstance h3{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  border: white;
  border-style: groove;
  padding-bottom: 25px;
  box-shadow: 10px 0px 50px 2px rgb(146, 104, 243);
}

.ReferenceSuite{
  margin: 20%;
  padding: 30px;
  padding-top: 40px;
  text-align: center;
  border: white;
  border-style: groove;
  padding-bottom: 25px;
  box-shadow: 10px 0px 50px 2px rgb(146, 104, 243);
}
.referencesTitle{
 padding-bottom: 100px;
 font-weight: 900; 
 text-align: center;
 font-size: 24px;
 color: rgb(105, 105, 253);
}
.reference{
  padding-bottom: 100px;
}
.referenceTitle{
  font-size: 20px;
  font-weight: 900;
  text-align: left;
  color: rgb(105, 105, 253);
}
.referenceBody{
  text-align: left;
}

@media (min-width: 800px){
  .hero{
    background-image: url("./components/pictures/crowd2.jpeg")
  }
  .homeSubstance{
    margin: 5%;
    font-size: 6px;
  }
}
/*  */

/* problem page */
.problemHero{
  background-color: rgb(39,39,39);
  background-image: url("./components/pictures/refugeeGreece2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  opacity: 0.9;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
  from(rgba(0,0,0,0.0)), to(rgba(0,0,0,0.9)));
}

.problemBody {
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  border: white;
  border-style: groove;
  box-shadow: 10px 0px 50px 2px rgb(146, 104, 243);
}
.problemTitle{
  font-size: 30px;
  font-weight: 900;
  color: rgb(105, 105, 253);
}
.problemSubtitle{
  font-size: 25px;
  font-weight: 300;
  color: rgb(87, 87, 252);
}
.problemPara{
  display: grid;
  font-size: 20px;
  font-weight: lighter;
}
.ncbiLink{
  font-size: 20px;
  font-style: oblique;
  color: rgb(105, 105, 253);
  text-decoration: underline;
}
/*  */

/* stats page */
.counters{
  text-align: center;
}
.statsBlock1{
  background-image: url('./components/pictures/LARefugees.png');
  padding-top: 200px;
  padding-bottom: 100px;
  align-items: center;
  background-repeat: no-repeat;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(10,10,10, 0.01)), to(rgba(0,0,0, 1.0)));
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.statsBlock2{
  background-image: url('./components/pictures/3000.jpeg');
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-mask-image: -webkit-gradient(linear, right top, right bottom, 
    from(rgba(10,10,10, 0.5)), to(rgba(0,0,0,0.7)));
}
.statsBlock3{
  background-image: url('./components/pictures/12migrant.jpg');
  padding-top: 100px;
  padding-bottom: 210px;
  align-items: center;
  background-repeat: no-repeat;
  -webkit-mask-image: -webkit-gradient(linear, right bottom, right top, 
    from(rgba(5,5,5, 0)), to(rgba(0,0,0, 0.9)));
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.lighterFacts{
  padding-top: 200px;
  font-size: 35px;
  text-align: center;
  font-weight: 200;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 55px;
}
.stat{
  border: white;
  border-style: groove;
  box-shadow: 10px 0px 50px 2px rgb(146, 104, 243);
  margin-top: 25px;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.statsNumber{
  padding-top: 50px;
  color: rgb(92, 92, 255);
  font-size: 45px;
}

/* Solutions */
.SolutionsPage{
  text-align: center;
  margin-left: auto;
}
.SolutionPreamble{
  padding-top: 140px;
  font-size: 35px;
}
.Solution{
  padding-top: 100px;
}
.SolutionTitle{
  font-size: 30px;
  color: rgb(88, 55, 235);font-style: oblique;
}
.SolutionBody{
  font-size: 20px;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
.soluImg{
  margin: auto;
  padding-bottom: 50px;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(5,5,5,5)), to(rgba(0,0,0,0)));
}

/* Donations */

.donationSuite{
  padding-top: 200px;
  width: 500px;
  margin: auto;
}
.donationTitle{
  font-size: 40px;
  text-align: center;
}
.donationsLinks{
  padding-top: 100px;
  
}
.link{
  padding-bottom: 100px;
  

}

/*  */